@import url("colors.css");

.metadata-tray {
    position: relative;
    color: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 0px;
    background-color: var(--contrast-panel);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    background-image: url("misc/img/album-cover-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    box-shadow: inset 400px 70px 100px 80px #000000;
}